*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 250, 250);
}
.cartao {
  width: 260px;
  height: 200px;
}
.cartao-imagem{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: azure;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho-link{
    color: rgb(185, 235, 218);
    text-decoration: none;
}
h1{
    color: rgb(111, 221, 255);
    font-size: 24px;
}
footer{
    background-color: rgb(3, 224, 224);
    padding: 15px 25px;
    color:rgb(5, 99, 122)
}
.cartao-interno{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.cartao-frente, .cartao-verso{
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgb(5, 99, 122);
    backface-visibility: hidden;
}
.cartao-verso{
     transform: rotateY(180deg);
}
.cartao:hover .cartao-interno{
    transform: rotateY(180deg);
}
